$fontSmall: 2rem;
$fontLarge: 4rem;

html {
  font-size: 14px;
  font-family: 'Transpass', sans-serif;
}
body {
  margin: 0;
  background: #fff;
}

.timer, .pts {
  position: absolute;
  left: 0;
  margin: .5rem;
}
.pts {
  opacity: .6;
  line-height: 1;
  font-size: $fontLarge;
  font-weight: bold;
  left: auto;
  right: 0;
}
circle {
  stroke: gold;
  stroke-width: 2;
  stroke-dasharray: 0 100; // magic nbr?
  // https://css-tricks.com/how-to-make-charts-with-svg/
  transition: stroke-dasharray 100ms linear;
}

svg {
  transform: rotate(-90deg);
  fill: red;
  border-radius: 50%;
  display: block;
  width: 5rem;
  height: 5rem;
}

.fullScreen {
  min-width: 60vw;
  min-height: 90vh;
  display: flex;
  position: absolute;
  top: 30px;
  background: palevioletred;
}
.gameScreen {
  font-size: $fontLarge;
}
button {
  font-size: $fontLarge;
  background: transparentize(#fff, .65);
  border: none;
  border-radius: .2rem;
  text-align: center;
  position: relative;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  display: inline-block;
  min-width: 20vw;
  box-sizing: border-box;


  &:focus-within, &:focus {
    background: #fff;
  }
}
.question {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  & div {
    font-size: $fontSmall;
    text-align: center;
    margin: 1rem;
    flex: 0 1 auto;
    
    &.questionNbr {
      font-size: $fontLarge;
    }
    &:last-child {
      flex: 0 0 100%;  
    }
  }
}
.answers {
  margin-top: 2rem;
}
.startScreen {
  & button {
      font-size: $fontSmall;
  }
}
.waitScreen {
  background: red;
}
.content {
  margin: auto;
  text-align: center;
}
.hide {
  display: none;
  visibility: none;
}