.container{
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.container section{
    background: #e3e8eb;
    border: 2px solid rgb(0 49 71);
    border-radius: 7px;
    padding: 10px;
    display: grid;
    margin: 10px 0;
    display: inlineblock;
}
.divcenimnum {
margin: 0 auto;
padding: 10px;
}


label{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed rgb(94, 118, 255);
    margin-bottom: 3px;
    color: #ffffff;
    background: #003147b0
}

label:hover{
    background: rgb(154, 154, 250);
}

.video{
    text-align: center;
    background: #fff5f5;
    border: 4px solid;
    border-color: #003147;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
}

button{
    text-align: center;
    width: 90%;
    display: block;
    margin: auto;
    padding: 10px;

    background-color: green;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

/* button:hover{
    background-color: aqua;
} */

h2{
    text-align: center;
}

h3{
    padding: 7px;
    margin: 7px;
}

#resultados{
    font-size: 30px;
    color: darkred;
}
